name: Build & Publish Latest

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        ref: master
        # fetch-depth: 0 is required to fetch all history and tags
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}

    - name: Get package version
      run: echo "RELEASE=$(cat ./src/package.json | jq -r .release | jq -r .version)" >> $GITHUB_ENV

    - name: Get Git tag
      id: get_git_tag
      run: |
        # This command gets the exact tag for the current commit
        # If no tag exists, it outputs an empty string
        echo "tag=$(git describe --tags --exact-match 2>/dev/null || echo '')" >> $GITHUB_OUTPUT

    - name: Generate Docker tags
      id: gen_tags
      run: |
        # Start with the base tags
        TAGS="ghcr.io/${{ github.repository }}:latest,ghcr.io/${{ github.repository }}:${{ env.RELEASE }}"

        # Get the Git tag from the previous step
        GIT_TAG="${{ steps.get_git_tag.outputs.tag }}"

        # Only add the Git tag if the variable is not empty
        if [ -n "$GIT_TAG" ]; then
          TAGS="$TAGS,ghcr.io/${{ github.repository }}:$GIT_TAG"
        fi

        # Output the final comma-separated list
        echo "tags=$TAGS" >> $GITHUB_OUTPUT

    - name: Build & Publish Docker Image
      uses: docker/build-push-action@v6
      with:
        push: true
        platforms: linux/amd64
        # Use the dynamic list of tags from the 'gen_tags' step
        tags: ${{ steps.gen_tags.outputs.tags }}
